<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail (order_id, dish_id, setmeal_id, dish_flavor, number, amount) values
        <foreach collection="orderDetailList" item="orderDetail" separator=",">
            (#{orderDetail.orderId},#{orderDetail.dishId},#{orderDetail.setmealId},#{orderDetail.dishFlavor},#{orderDetail.number},#{orderDetail.amount})
        </foreach>
    </insert>

    <select id="list" resultType="com.sky.entity.OrderDetail" parameterType="com.sky.entity.OrderDetail">
        select * from order_detail
        <where>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
            <if test="dishFlavor != null">
                and dish_flavor = #{dishFlavor}
            </if>
            <if test="number != null">
                and number = #{number}
            </if>
        </where>
    </select>
    <select id="getByOrderId" resultType="com.sky.entity.OrderDetail" parameterType="java.lang.Long">
        select * from order_detail where order_id = #{orderId};
    </select>
</mapper>
